<!-- Sidebar -->
<div class="sidebar mb-3" [ngClass]="{ collapsed: isCollapsed }">
  <button class="btn btn-dark mb-3" (click)="toggleSidebar()">
    <i class="bi bi-list"></i>
  </button>

  <ul class="list-unstyled">
    <li
      *ngFor="let item of menuItems"
      (click)="setActive(item.label)"
      [ngClass]="{ active: activeItem === item.label }"
      class="sidebar-item"
    >
      <i class="bi" [ngClass]="item.icon"></i>
      <span *ngIf="!isCollapsed" class="ms-2">{{ item.label }}</span>
    </li>
  </ul>
</div>


